# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Platform-specific (generated)
android/
ios/
linux/
macos/
windows/
web/

# IDE files
.idea/
*.iml
.vscode/

# Logs
*.log

# Environment
.env